.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#2e107a;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.increment-button, .decrement-button {
    -fx-background-color: #2e107a;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 20;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
    -fx-border-radius: 20;
    /* -fx-background-radius: 20;*/
}
.scroll-pane {
    -fx-background-color: white;
    -fx-border-radius: 7;
    -fx-background-radius: 7;
    -fx-border-color: #2e107a;
}